body {

	background-repeat: no-repeat;
	color: whitesmoke;
	text-align: center;
    width: 100%;
    
    background-image: url("https://c4.wallpaperflare.com/wallpaper/821/82/415/carbon-fiber-pictures-for-desktop-wallpaper-preview.jpg");
    background-repeat: repeat;

    background-position: fixed;
}

body h1, p {
    color: whitesmoke;

}


img{
    display: inline-block;
    margin-bottom: 40px;
}   


.res img{
    
    display: inline-block;
    margin: 20px;
    opacity: 90%;
    border: 5px solid transparent;
}   

.res img:hover{

    transition: 400ms;

    margin-top: 15px;
    margin-bottom: 25px;

    border: 5px solid yellow;
    opacity: 100%;
}


.res{
    margin-bottom: 50px;
}

.container {
    max-width: 100px;
}

form{
    margin-bottom: 30px;
}
    
.caption{
    display: block;
    color: yellow;
    text-decoration: none;
}

.res a{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;

}
